
.root {
    -fx-window-color: #adb5bd;
    -fx-background-color: #e9ecef;
}

/* Main menu */

#gameTitle {
    -fx-font-size: 4em;
    -fx-text-alignment: center;
}

#vbox {
    -fx-alignment: center;
    -fx-spacing: 1em
}

.start_game_btn {
    -fx-background-color: #1c7ed6;
    -fx-text-fill: #e9ecef;
    -fx-font-size: 2em;
    -fx-pref-width: 8em;
    -fx-pref-height: 2em;
}

.config_btn {
    -fx-background-color: #848689;
    -fx-text-fill: #e9ecef;
    -fx-font-size: 2em;
    -fx-pref-width: 8em;
    -fx-pref-height: 2em;
}

/* Game */

.sudoku_cell {
    -fx-alignment: center;
    -fx-pref-width: 66px;
    -fx-pref-height: 66px;
    -fx-font-size: 1.5em;
    -fx-text-alignment: center;
    -fx-border-color: #b5b8bb;
}

.chunk {
    -fx-border-color: #00a0ff;
}

